$base-color: red;
$Importan-color: darkred;
$warning-color: indianred;
$size-border-radius: 0px;
$principal-font: 'Poppins', sans-serif;
$secondary-font:'Roboto','Helvetica Neue',sans-serif;
$shadow-box: -10px 10px 5px 0px #2F7E8C;
